.notification {
  width: 30vw;
  min-height: 100px;
  position: fixed;
  right: 0;
  bottom: -150px;
  margin: 0 1em 1em 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  padding: 0.5em;
  color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 17px 0px #716a6a;
  &.open {
    transform: translate3d(0, -160px, 0)
  }


  &.warning {
    background-color: rgba(#d1c52b, 0.85);
  }
  &.error {
    background-color: #c3435e;
  }
  &.positive {
    background-color: #24cf35;
  }
}
