.product-card {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em;
  background-color: #ccc;
  button {
    margin: 0.3em;
  }
  .title {
    font-weight: bold;
  }
  .description {
    margin-bottom: 0.5em;
  }
}
