{
  "env": {
    "test": {
      "presets": ["latest"],
      "plugins": [""]
    },
    "development": {
      "presets": [
        ["latest", {
          "es2015": {"modules": false, "loose": true },
        }],
        "react"
      ],
      "plugins": ["react-hot-loader/babel"]
    },
    "production": {
      "presets": [
        ["latest", {
          "es2015": {"modules": false, "loose": true },
        }],
        "react"
      ],
      "plugins": ["transform-object-assign"]
    }
  }

}
